################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/restaurant-admin-dashboard/.vs
/restaurant-admin-dashboard/.vscode
/documentation/
